# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/lib/features/autentithication/models/dto/error_dto_freezed.dart
/lib/features/autentithication/models/dto/error_dto_g.dart
/lib/features/autentithication/models/dto/login_dto_freezed.dart
/lib/features/autentithication/models/dto/login_dto_g.dart
/lib/features/autentithication/models/dto/refresh_dto_freezed.dart
/lib/features/autentithication/models/dto/refresh_dto_g.dart
/lib/features/autentithication/models/dto/reg_dto_freezed.dart
/lib/features/autentithication/models/dto/reg_dto_g.dart
/lib/features/autentithication/models/dto/reg_error_dto_freezed.dart
/lib/features/autentithication/models/dto/reg_error_dto_g.dart
/lib/features/autentithication/models/dto/token_dto_freezed.dart
/lib/features/autentithication/models/dto/token_dto_g.dart
/lib/features/autentithication/data_provider/autentithicationapi_api_g.dart
/lib/features/autentithication/bloc/authorization_bloc/authorization_bloc_freezed.dart
/lib/features/autentithication/bloc/registration_bloc/registration_bloc_freezed.dart
/lib/features/on_boarding/bloc/on_borading_cubit/on_boarding_cubit_freezed.dart
/lib/generated
/lib/l10n
/lib/root/navigation/app_router.gr.dart
/lib/code_kit/data_provider/current_user_api_g.dart
/lib/code_kit/data_provider/refresh_api_g.dart
/lib/code_kit/models/dto/refresh_dto_freezed.dart
/lib/code_kit/models/dto/refresh_dto_g.dart
/lib/code_kit/models/dto/user_dto_freezed.dart
/lib/code_kit/models/dto/user_dto_g.dart
/lib/features/autentithication/data_provider/api_autentithication_g.dart
/lib/l10n/intl_en.arb
/lib/generated/intl/messages_all.dart
/lib/generated/intl/messages_en.dart
/lib/generated/l10n.dart
/lib/features/autentithication/data_provider/autentithication_api_g.dart
/lib/features/home/models/dto/file_dto.freezed.dart
/lib/features/home/models/dto/file_dto.g.dart
/lib/features/home/models/dto/photo_dto.freezed.dart
/lib/features/home/models/dto/photo_dto.g.dart
/lib/features/home/models/dto/photo_list_dto.freezed.dart
/lib/features/home/models/dto/photo_list_dto.g.dart
/lib/features/home/models/dto/file_dto_freezed.dart
/lib/features/home/models/dto/file_dto_g.dart
/lib/features/home/models/dto/photo_list_dto_freezed.dart
/lib/features/home/models/dto/photo_list_dto_g.dart
/lib/features/home/models/dto/photo_dto_freezed.dart
/lib/features/home/models/dto/photo_dto_g.dart
/lib/code_kit/models/dto/photo_list_dto_freezed.dart
/lib/code_kit/models/dto/photo_list_dto_g.dart
/lib/code_kit/models/dto/photo_dto_g.dart
/lib/code_kit/models/dto/photo_dto_freezed.dart
/lib/code_kit/models/dto/file_dto_g.dart
/lib/code_kit/models/dto/file_dto_freezed.dart
/lib/code_kit/data_provider/photos_api_g.dart
/lib/features/home/bloc/cubit/photos_cubit.freezed.dart
/lib/features/home/bloc/cubit/photos_cubit_freezed.dart
/lib/features/home/bloc/photos_cubit/photos_cubit_freezed.dart
/lib/code_kit/data_provider/files_api_g.dart
/lib/features/home/bloc/photo_cubit/photo_cubit_freezed.dart
/lib/features/home/bloc/photos_bloc/photos_bloc_freezed.dart
/lib/code_kit/models/dto/hydra_view_dto_freezed.dart
/lib/code_kit/models/dto/hydra_view_dto_g.dart
/lib/features/home/bloc/photo_data_cubit
/lib/features/home/bloc/photo_data_cubit/photo_data_cubit_freezed.dart